--表从哪儿来的？
--*用户，角色，权限管理*
--数据库如何部署

电信：*服务器*(host) 出租
      1、192.168.175.251 Oracle
      2、192.168.175.252 Oracle Telnet
      3、192.168.176.253 Web

客户1：*账户*(account)-->1个自然人
	175.251：*OS用户*(service) user1 user1pwd
	    *套餐*(cost)1：包月？每月12小时，40元，超出4元/小时
	    *套餐*(cost)2：计时？3.5元/小时
	176.253：*OS用户*(service) user1 user1pwd
	    *套餐*(cost)1：包月？每月12小时，40元，超出4元/小时
	    *套餐*(cost)2：计时？3.5元/小时
(service):某一台服务器上开通的1个特定用户名
	
客户2：176.253：*OS用户*(service) user2 user1pwd

每个service的*详单(service_detail)*
176.253,lidz,2014-9-10,8:30,上线
176.251,tongxy,2014-9-10,8:30,上线
176.253,lidz,2014-9-10,12:00,下线

月底：每个月给*账户(account)*发*账单(bill)*
客户1:9月，总额180元--bill
客户1：service251,9月份,100元--bill_item
       service253,9月份,80元--bill_item
客户1：service251,10月份,90元-bill_item

--需求：
--1、找名词-->清理-->起英文名
--2、确定名词间包含/所属关系--ER图

--设计：
--物理设计：建表--先建主表！
--列从哪儿来？-->找客户要：表，证，单，据
--给客户的：.sql文件
（必须能批量执行；必须能反复执行）

